[submodule "bundle/coffee-script"]
	path = bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
  ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
  ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://github.com/wincent/Command-T.git
  ignore = dirty
[submodule "bundle/git-branch-info"]
	path = bundle/git-branch-info
	url = https://github.com/taq/vim-git-branch-info.git
  ignore = dirty
[submodule "bundle/vimclojure"]
	path = bundle/vimclojure
	url = git://github.com/vim-scripts/VimClojure.git
  ignore = dirty
[submodule "bundle/git-vim"]
  path = bundle/git-vim
  url = https://github.com/motemen/git-vim.git
  ignore = dirty
[submodule "bundle/vim-gitgutter"]
  path = bundle/vim-gitgutter
  url = https://github.com/airblade/vim-gitgutter.git
  ignore = dirty
[submodule "bundle/git-support"]
	path = bundle/git-support
	url = git://github.com/vim-scripts/Git-Support.git
  ignore = dirty
[submodule "bundle/YouCompleteMe"]
	path = bundle/YouCompleteMe
	url = git@github.com:Valloric/YouCompleteMe.git
  ignore = dirty
[submodule "bundle/vim-tags"]
	path = bundle/vim-tags
	url = https://github.com/szw/vim-tags.git
  ignore = dirty
